<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{56}.%method:%L - %msg%n</Pattern>
		</layout>
	</appender>
	<!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
	<appender name="vcalendar" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/timeTask.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>vblog.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{56}.%method:%L - %msg%n</Pattern>
		</encoder>
	</appender>

	<!-- 定义了ERROR和INFO级别的日志，分别在STDOUT/vblog输出 -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="vcalendar" />
	</root>
</configuration>